.color {
    color: red;
}

.layout {
    height: 100%;
}

.title {
    color: #fff;
}

.siteLayoutContent {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

.deleteBtn {
    margin-left: 15px;
}

.downLBtn {
    margin-left: 15px;
}